* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 90px;
    background: linear-gradient(135deg, #213fa0, #dbe4ff);
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}